
.container {
    width: 100%;
    height: 100vh;
    background-color: green;
}
.header {
    height: 130px;
    width: 100%;
}
.header h2 {
    color: beige;
    line-height: 130px;
    text-align: center;
    letter-spacing: 36px;
    font-size: 36px;
}
.content {
    display: flex;
    justify-content: space-around;
}
.content .player-area {
    /*width: 120px;*/
    /*height: 320px;*/
    /*padding: 12px;*/
    /*border: 5px beige solid;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
}
.content .player-area .player {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: red;
    position: absolute;
    text-align: center;
    line-height: 32px;
}
.content .player-area .num1 {
    top: 390px;
    left: 190px;
}
.content .player-area .num2 {
    top: 50px;
    left: 140px;
}
.content .player-area .player:hover {
    cursor: grab;
}
.content .player-area .player-blue {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: blue;
    position: absolute;
}
.content .player-area .player-blue:hover {
    cursor: grab;
}
